@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide shadcn dialog close button globally */
[data-slot="dialog-close"] {
  display: none !important;
}
/* Add blur effect to shadcn dialog overlay */
[data-slot="dialog-overlay"] {
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.2);
}
[data-sonner-toast] {
  background: var(--background) !important; /* or any solid color you prefer */
  color: var(--foreground) !important;
}

@layer base {
  :root {
    --background: #f9ecff;
    --foreground: #854eCB;
    --card: #f9ecff;
    --card-foreground: #854eCB;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #f9ecff;
    --primary-foreground: #854eCB;
    --secondary: #f0f0f0;
    --secondary-foreground: #000000;
    --muted: #71717B;
    --muted-foreground: #666666;
    --accent: #f9ecff;
    --accent-foreground: #854eCB;
    --destructive: #821D1D;
    --destructive-foreground: #FAFAFA;
    --border: #262626;
    --input: #262626;
    --ring: #D4D4D4;
    --chart-1: #335CCC;
    --chart-2: #33B799;
    --chart-3: #FFB74D;
    --chart-4: #AA4DCC;
    --chart-5: #E83366;
    --radius: 0.5rem;
  }
  .dark {
    --background: #f9ecff;
    --foreground: #854eCB;
    --card: #f9ecff;
    --card-foreground: #854eCB;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #f9ecff;
    --primary-foreground: #854eCB;
    --secondary: #f0f0f0;
    --secondary-foreground: #000000;
    --muted: #AAAAAA;
    --muted-foreground: #666666;
    --accent: #f9ecff;
    --accent-foreground: #854eCB;
    --destructive: #821D1D;
    --destructive-foreground: #FAFAFA;
    --border: #262626;
    --input: #262626;
    --ring: #D4D4D4;
    --chart-1: #335CCC;
    --chart-2: #33B799;
    --chart-3: #FFB74D;
    --chart-4: #AA4DCC;
    --chart-5: #E83366;
  }
}

@layer base {
  
  /* html {
    @apply dark;
  } */
  body {
    @apply bg-white text-black;
  }
}

/* Hide scrollbar for horizontal carousel */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.animated-gradient {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at 85% 80%, hsla(266.99999999999983, 1%, 8%, 0.7) 9%, transparent 55%), radial-gradient(circle at 60% 24%, hsla(335.9999999999997, 2%, 15%, 0.6) 5%, transparent 72%), radial-gradient(circle at 13% 82%, hsla(53.999999999999886, 0%, 0%, 0.3) 5%, transparent 52%), radial-gradient(circle at 24% 7%, hsla(299, 4%, 25%, 0.8) 13%, transparent 68%);
    background-blend-mode: normal, normal, normal, normal;
}
